<div class="comments task-list">
    {{#each this}}
    <section class="comment task-list">
        <div class="card-header">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text card">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>