<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!--
    <link rel="stylesheet" href="/stylesheets/style2.css" /> --}}
    <title>OSK</title>
</head>

<body class="wrapper">
    <header class="hero">
        <nav>
            {{#if loggedIn}}
            <a id="login" href="/">Home</a>
            <a id="login" href="/dashboard"> Solo Dash</a>
            <a id="logout" href="/login">Logout</a>
            {{else}}
            <a id="login" href="/login">Login</a>
            <a id="login" href="/signup">Sign-Up</a>
            {{/if}}
        </nav>
        <h1 class="app-title">
            <a class="page-title" id="dashboard-link" href="/"> Open Source Kanban </a>
        </h1>
        {{#if loggedIn}}
        <p>Click the button below to add your idea!</p>
        <form id="task-form">
            <div class="form-group">
                <input type="text" name="task-title" placeholder="Idea Title" />
            </div>
            <div class="form-group">
                <input type="text" name="task-content" placeholder="What Is Your Idea?" />
            </div>
            <div class="form-group">
                <button class="btn create-button" id="save-task" type="submit">Add Your Idea</button>
            </div>
        </form>
        {{else}}
        <p>Welcome to Open Source Kanban</p>
        {{/if}}
    </header>

    <main class="main">
        {{{ body }}}
    </main>
    <div class="footer-wrapper"></div>
    <footer>
        <div>
            <span>
                © Copyright - All rights reserved
            </span>
        </div>
        <div class="end">
        Thanks for visiting!

        </div>
        
    </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>