<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label class="form-label" for="post-title">Title</label>
            <input class="form-input" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label class="form-label" for="post-text">Content</label>
            <input class="form-input" id="post-text" name="post-text" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" id="dashboard">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>