<section class="page-content" id="page-content">
    <div class="task-list-wrapper">
        <h2 class="list-title" id="tasks-to-do">New Ideas</h2>
        <ul></ul>
    </div>
    <div class="task-list-wrapper">
        <h2 class="list-title" id="tasks-in-progress">Lets Collaborate</h2>
        <ul></ul>
    </div>
    <div class="task-list-wrapper">
        <h2 class="list-title" id="tasks-completed">Old Ideas</h2>
        <ul></ul>
    </div>
</section>