<form class="login-form card">
    <div>
        <label class="form-label" for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div>
        <label class="form-label" for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>
    <div>
        <button class="btn" type="submit">Login</button>
        <a id="dashboard" href="/signup">Sign-Up Here</a>
    </div>
</form>
<div class="footer-wrapper-login"></div>


<script src="/javascript/login.js"></script>