<form class="signup-form card">
    <div>
        <label for="username-signup" class="form-label">username:</label>
        <input type="text" id="username-signup" class="form-input" />
    </div>
    <div>
        <label for="email-signup" class="form-label">email:</label>
        <input type="text" id="email-signup" class="form-input" />
    </div>
    <div>
        <label for="password-signup" class="form-label">password:</label>
        <input type="password" id="password-signup" class="form-input" />
    </div>
    <div>
        <button type="submit" class="btn">SignUp</button>
        <a id="dashboard" href="/login">Login Here</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>