{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <input class="form-input single-text" name="comment-body" placeholder="Comment..."></input>
    </div>

    <div>
        <button class="btn submit-btn" type="submit">add comment</button>
    </div>
</form>

<a href="/dashboard/edit/{{post.id}}" id="dashboard">Edit post</a>
{{/if}}

{{> comments post.comments}}
<div class="footer-wrapper"></div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}